body {
  background: #202028;
  color : #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

#stats {
  border-bottom: solid .2em #fff;
  height: 10vh;
  style: block;
}

#tetra-canvas {
  height: 80vh;
}



#TetraIdle {
  display: inline-block;
  border: solid .2em #fff;
}
