body {
  background: #202028;
  color : #fff;
  font-family: sans-serif;
  overflow: hidden;
}

#TetraIdle {
  width: 90vw;
  border: solid .2em #fff;
}

#TetraIdle,
.game-container {
  display: inline-block;
  margin: 0;
}

.game-container {
  border-right: solid .2em #fff;
  border-left: solid .2em #fff;
}

.top-panel {
  border-bottom: solid .2em #fff;
  height: 10vh;
  style: block;
  display: flex;
  align-items: center; /* align vertical */
}

.top-panel > div,
.sidebar {
  line-height: 7vh;
  height: 7vh;
  font-size: 7vh;
}

#game {
  height: 80vh;
}

.sidebar {
  height: 80vh;
  width: 18vw;
  display: inline-block;
  vertical-align: top;
}

#stats {
  width: 54%;
  text-align: left;
  padding-left: 6%;
}

.title {
  width: 18%;
}

.sidebar-right {
  float: right;
}

.sidebar-left {
  float: left;
}

#Queue canvas {

}
